html{
    behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

header {
    background: #F46B3F;
    position: fixed;      /* Fixes the header to the top */
    top: 0;               /* Aligns it to the top of the page */
    left: 0;              /* Ensures the header spans the entire width */
    width: 100%;          /* Ensures the header spans the entire width */
    z-index: 1000;        /* Ensures the header stays on top of other elements */
}

.nav {
    height: 60px;
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    position: relative;
}

.links {
    list-style: none;
}

nav .links {
    display: flex;
    gap: 62px;

}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

a:hover {
    color: white;
}

.logo {
    font-weight: bold;
    font-family: "Poller One", serif;
    font-weight: 400;
    font-style: normal;

}

.nav .toggle_btn {
    color: black;
    cursor: pointer;
    display: none;
}

.dropdown_menu {
    display: none;
    right: 2rem;
    top: 63.9px;
    height: 0;
    width: 300px;
    background: rgba(245, 243, 243, 0.397);
    overflow: hidden;
    transition: height 0.5s ease;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    position: absolute;
}

.dropdown_menu.open {
    height: 240px;
    display: block;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HERO SECTION */

section#hero {
    background: url("https://images.unsplash.com/photo-1523413555809-0fb1d4da238d?q=80&w=2187&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    height: calc(900px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    gap: 78px;

}

#hero h1 {
    font-size: 40px;
    padding: 0.2rem;
    font-weight: 500;
}

#hero p {
    font-size: 30px;
    opacity: 80%;
}

#action_btn {
    background-color: #F46B3F;
    color: white;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 20px 60px;
    cursor: pointer;
    transition: transform 0.6s ease;
}

#action_btn:hover {
    transform: scale(1.05);
    /* Slightly increase the size */
    background-color: #e65a29;
    /* Darken background color on hover */
}

/* SERVICES SECTION */
.cards_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 26px;
    position: relative;
    margin-top: -50px;
}

/* .icons {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    display: flex;
    gap: 15px;
    justify-content: center;
    position: absolute;
    bottom: 80px;
} */

/* #hero .ph--wind-thin::after {
    display: inline-block;
    width: 37px;
    height: 37px;
    vertical-align: -0.125em;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%23080808' d='M180 184a28 28 0 0 1-28 28c-12.09 0-23.76-7.83-27.75-18.61a4 4 0 1 1 7.5-2.78C134.58 198.24 143.28 204 152 204a20 20 0 0 0 0-40H40a4 4 0 0 1 0-8h112a28 28 0 0 1 28 28M148 72a28 28 0 0 0-28-28c-12.09 0-23.76 7.83-27.75 18.61a4 4 0 0 0 7.5 2.78C102.58 57.76 111.28 52 120 52a20 20 0 0 1 0 40H24a4 4 0 0 0 0 8h96a28 28 0 0 0 28-28m60 4c-12.09 0-23.76 7.83-27.75 18.61a4 4 0 1 0 7.5 2.78C190.58 89.76 199.28 84 208 84a20 20 0 0 1 0 40H32a4 4 0 0 0 0 8h176a28 28 0 0 0 0-56'/%3E%3C/svg%3E");
} */

/* #hero .material-symbols-light--plumbing::after {
    display: inline-block;
    width: 37px;
    height: 37px;
    vertical-align: -0.125em;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23080808' d='m18.621 9.214l-2.89-2.891l-2.125 2.12l-1.414-1.408l2.499-2.504q.223-.223.492-.322q.269-.1.548-.1q.285 0 .56.1q.276.099.494.322l1.548 1.548q.373.367.547.824t.174.955q0 .344-.107.692q-.106.348-.326.664M7.25 13.39q-.315-.316-.315-.717t.315-.716l2.104-2.11l1.413 1.414L8.64 13.39q-.31.315-.692.315t-.697-.315m-1.883 6.867q-.217-.223-.319-.509q-.102-.285-.102-.59q0-.303.1-.58t.321-.498l6.825-6.82l-3.52-3.526q-.316-.31-.307-.692t.326-.697q.309-.315.703-.305q.394.009.71.325l3.502 3.501l1.425-1.425l2.28 2.292q.166.166.166.345t-.165.344q-.166.146-.373.127t-.489-.261l-8.95 8.95q-.223.223-.49.331q-.266.109-.564.109t-.577-.102t-.502-.32'/%3E%3C/svg%3E");
}

#hero .material-symbols-light--electrical-services-rounded::after {
    display: inline-block;
    width: 37px;
    height: 37px;
    vertical-align: -0.125em;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23080808' d='M18 14.5q-.213 0-.356-.144t-.144-.357t.144-.356T18 13.5h2q.213 0 .356.144t.144.357t-.144.356T20 14.5zm0 4q-.213 0-.356-.144t-.144-.357t.144-.356T18 17.5h2q.213 0 .356.144t.144.357t-.144.356T20 18.5zm-3.5 1q-.825 0-1.412-.587T12.5 17.5h-1.192q-.343 0-.576-.232t-.232-.576v-1.384q0-.343.232-.576t.576-.232H12.5q0-.825.588-1.412T14.5 12.5h1.192q.343 0 .576.232t.232.576v5.384q0 .344-.232.576t-.576.232zm-7.5-3q-1.458 0-2.479-1.021T3.5 13t1.021-2.479T7 9.5h1.5q.817 0 1.409-.591q.591-.592.591-1.409t-.591-1.409Q9.317 5.5 8.5 5.5H5q-.213 0-.356-.144T4.5 4.999t.144-.356T5 4.5h3.5q1.258 0 2.129.871T11.5 7.5t-.871 2.129T8.5 10.5H7q-1.031 0-1.766.736q-.734.735-.734 1.768t.735 1.764T7 15.5h2q.213 0 .356.144t.144.357t-.144.356T9 16.5z'/%3E%3C/svg%3E");
}

#hero .tabler--paint::after {
    display: inline-block;
    width: 37px;
    height: 37px;
    vertical-align: -0.125em;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23080808' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'%3E%3Cpath d='M5 5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v2a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2z'/%3E%3Cpath d='M19 6h1a2 2 0 0 1 2 2a5 5 0 0 1-5 5h-5v2m-2 1a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1z'/%3E%3C/g%3E%3C/svg%3E");
} */

.card {
    background: #DDD7B6;
    width: 270px;
    height: 366px;
    border-radius: 10px;
    box-shadow: 0px 4px 13.9px 1px rgba(0, 0, 0, 0.25);
    transition: transform 0.6s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card-image {
    height: 165px;
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 0 0;
}

.img-1 {
    background-image: url("images/aerConditionat.jpg");
}

.img-2 {
    background-image: url("images/instalatiiSanitare.jpg");
}

.img-3 {
    background-image: url("images/instalatiielectrice.jpg");
}

.img-4 {
    background-image: url("images/zugravire.jpg");
}

.card h2 {
    padding-top: 18px;
    padding-left: 26px;
    padding-right: 27px;
    padding-bottom: 12px;
    font-size: 19px;
}

.card p {
    padding-left: 26px;
    padding-right: 27px;
    font-size: 15px;
    padding-bottom: 25px;
}

.card a {
    padding-left: 26px;
    font-size: 17px;
}

/* PROCESS STEPS SECTION */
section .precess-title {
    text-align: center;
    font-weight: 400;
    font-size: 32px;
    margin-top: 30px;
    color: #000;

}

.steps-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.step {
    margin-top: 36px;
    background: linear-gradient(109.76deg, rgba(218, 219, 202, 0.66) 0%, #DADBCA 100%);
    width: 322px;
    height: 193px;
    border-radius: 10px;
    box-shadow: 1px 7px 14.8px -6px rgba(0, 0, 0, 0.25);
    padding: 24px 38px;
    transition: transform 0.6s ease;
}

.step:hover{
    transform: scale(1.05);
}


.step-number {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 10px;
}

.step h3 {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #000;
    margin-bottom: 10px;
}

.step p {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #000;
    opacity: 0.76;
    margin-top: 10px;
}

/* FORM */
.contact-title {
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    margin-top: 70px;
    color: #000;
}

form {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

form label {
    width: 120px;
    font-weight: bold;
    font-size: 16px;
    color: #333;
    text-align: right;
}

form input,
form textarea {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.3s ease;
}

form input:focus,
form textarea:focus {
    border-color: #F46B3F;
    box-shadow: 0 0 5px rgba(244, 107, 63, 0.5);
    outline: none;
}

form button {
    align-self: flex-end;
    padding: 12px 30px;
    background: #F46B3F;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #d4582e;
}


/*FOOTER */
footer {
    background-color: #444;
    color: white;
    padding: 40px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-container div {
    text-align: center;
}

.footer-container h4 {
    color: #F46B3F;
    margin-bottom: 15px;
}

.footer-container ul {
    list-style: none;
    padding: 0;
}

.footer-container ul li a {
    color: white;
    text-decoration: none;
}

.footer-container ul li a:hover {
    color: #F46B3F;
}


/* ABOUT SECTION */

.about-section {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    /* height: 50vh; */
}

.about {
    width: 1158px;
    height: auto;
    background: url(images/about-us.png) no-repeat left;
    background-size: 55%;
    overflow: hidden;
    padding: 100px 0;
    position: relative;
    overflow: visible;
}

.experience-section {
    background-color: #A5B3B2;
    width: 270px;
    border-radius: 10px;
    position: absolute;
    top: 50px;
    left: -20px;


}

.experience-section h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 68.5px;
    padding-right: 68.5px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.experience-section .orange-text {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #EC6033;

}

.inner-section {
    width: 55%;
    float: right;
    background-color: #fcfcfc;
    padding-top: 11px;
    padding-left: 10px;
    padding-bottom: 32px;
    padding-right: 47px;
    box-shadow: -20px 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.inner-section h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #EC6033;
    margin-bottom: 15px;

}

.inner-section .about-title {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    margin-bottom: 30px;
    margin-left: 74px;
}

.inner-section .about-title .highlight {
    color: #EC6033;
}

.inner-section .about-info {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.83);
    margin-left: 74px;
    margin-bottom: 29px;

}

.inner-section .contact {

    margin-top: 21px;
    float: right;

}

.inner-section .contact a {
    font-size: 18px;
    background-color: #dadbca34; /* Fallback color */
    background-image: linear-gradient(to right, #e65a29 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    border-radius: 10px;
    padding: 5px;
    transition: background-position 0.4s ease; /* Animate background position */
    color: black; /* Text color */
    text-decoration: none; /* Remove underline if any */
}

.inner-section .contact a:hover {
    background-position: left bottom;
    color: #FFFFFF;
}

.inner-section ul {
    margin-left: 74px;
}

.inner-section ul li {
    margin-bottom: 7px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    list-style: none;
}

.inner-section ul li .material-symbols--done-rounded {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m9.55 15.15l8.475-8.475q.3-.3.7-.3t.7.3t.3.713t-.3.712l-9.175 9.2q-.3.3-.7.3t-.7-.3L4.55 13q-.3-.3-.288-.712t.313-.713t.713-.3t.712.3z'/%3E%3C/svg%3E");
    background-color: #EC6033;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: middle;
}

.inner-section .contact .ic--round-phone {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m19.23 15.26l-2.54-.29a1.99 1.99 0 0 0-1.64.57l-1.84 1.84a15.05 15.05 0 0 1-6.59-6.59l1.85-1.85c.43-.43.64-1.03.57-1.64l-.29-2.52a2 2 0 0 0-1.99-1.77H5.03c-1.13 0-2.07.94-2 2.07c.53 8.54 7.36 15.36 15.89 15.89c1.13.07 2.07-.87 2.07-2v-1.73c.01-1.01-.75-1.86-1.76-1.98'/%3E%3C/svg%3E");
    background-color: #EC6033;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: middle;
}